{% load i18n %}
            <div class="clear-all"></div>
            <div id="footer">
                <p>{# &copy;  | #}<a class="orange" href="/aviso-legal/" title="Aviso Legal">Aviso Legal</a></p>
            </div>
        </div> <!-- END #pagebody -->
        {% get_conf_list %}{% for item in conf_list %}{{ item.google_analytics|safe }}{% empty %}{% endfor %}
        <script src="{{ STATIC_URL }}js/jquery-1.6.2.min.js" type="text/javascript" ></script>
        <script type="text/JavaScript">
            $(document).ready(function(){
                $(".contento-thank-form").show();
                $(".contento-thank-text").hide();
                    $(".btn-sentcontact").live("click",function() {
                    validate();
                });
            });
            
            function isValidEmailAddress(email){
                            var RegExp = /^((([a-z]|[0-9]|!|#|$|%|&|'|\*|\+|\-|\/|=|\?|\^|_|`|\{|\||\}|~)+(\.([a-z]|[0-9]|!|#|$|%|&|'|\*|\+|\-|\/|=|\?|\^|_|`|\{|\||\}|~)+)*)@((((([a-z]|[0-9])([a-z]|[0-9]|\-){0,61}([a-z]|[0-9])\.))*([a-z]|[0-9])([a-z]|[0-9]|\-){0,61}([a-z]|[0-9])\.)[\w]{2,4}|(((([0-9]){1,3}\.){3}([0-9]){1,3}))|(\[((([0-9]){1,3}\.){3}([0-9]){1,3})\])))$/
                            if(RegExp.test(email)){
                            return true;
                            }else{
                            return false;
                            }
                    } 
                    function validate(){
                            var chk=true;
                            var Tname = $("#name").val();
                            var Temail = $("#email").val();
                            var Tsubject = $("#subject").val();
                            var ThisURL = $("#thisURL").val();
                            $("#msg").hide();

                            if(Tname=='' || Tname=='Nombre')
                            {
                                $("#name").css({'border':'1px solid red'});
                                chk = false;
                            } else {
                                $("#name").css({'border':'0px'});
                            }
                            if(Tsubject=='')
                            {
                                $("#subject").css({'border':'1px solid red'});
                                chk = false;
                            } else {
                                $("#subject").css({'border':'0px'});
                            }
                            if(Temail=="")
                            {
                                $("#email").css({'border':'1px solid red'});
                                chk = false;
                            }else{
                                if(!isValidEmailAddress(Temail))
                                {
                                        $("#email").css({'border':'1px solid red'});
                                        chk = false;
                                } else {
                                        $("#email").css({'border':'0px'});
                                }
                            }
                            if(document.sendemail.checkagree.checked != true)
                            {
                                $("#chkbox").css({'border':'1px solid red'});
                                chk = false;
                            } else {
                                $("#chkbox").css({'border':'0px'});
                            }
                            if(chk){
//                                 $("#sendemail").submit();
                                $(".contento-thank-form").hide();
                                $(".contento-thank-text").show();
                                $.post("/enviar/", { name: Tname, email: Temail, subject: Tsubject, thisURL: ThisURL}, 
                                function(data) {
                                });
                            }
                    }
        </script> 
        <script language="Javascript" type="text/javascript">
            function clearTextName(thefield){
                if (thefield.defaultValue==thefield.value){
                thefield.value = ""}
                if (thefield.value=='Nombre'){
                thefield.value = ""}
            }
            function setTextName(thefield){
                if (thefield.value=='')
                thefield.value = 'Nombre'
            }
            
            function clearTextEmail(thefield){
                if (thefield.defaultValue==thefield.value){
                thefield.value = ""}
                if (thefield.value=='E-mail'){
                thefield.value = ""}
            }
            function setTextEmail(thefield){
                if (thefield.value=='')
                thefield.value = 'E-mail'
            }
            function clearTextPhone(thefield){
                if (thefield.defaultValue==thefield.value){
                thefield.value = ""}
                if (thefield.value=='Teléfono'){
                thefield.value = ""}
            }
            function setTextPhone(thefield){
                if (thefield.value=='')
                thefield.value = 'Teléfono'
            }
        </script>
    </body>
</html>